/* Colours */
/* Font */
@font-face {
  font-family: PF-Din;
  src: url("../../fonts/PFDin-Bold.otf") format("truetype");
  font-weight: 700;
  font-style: normal; }

@font-face {
  font-family: PF-Din;
  src: url("../../fonts/PFDin-Medium.otf") format("truetype");
  font-weight: 600;
  font-style: normal; }

@font-face {
  font-family: PF-Din;
  src: url("../../fonts/PFDin-Regular.otf") format("truetype");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: PF-Din;
  src: url("../../fonts/PFDin-Light.otf") format("truetype");
  font-weight: 400;
  font-style: normal; }

body {
  font-family: PF-Din; }

/* Colours */
/* Font */
@font-face {
  font-family: PF-Din;
  src: url("../../fonts/PFDin-Bold.otf") format("truetype");
  font-weight: 700;
  font-style: normal; }

@font-face {
  font-family: PF-Din;
  src: url("../../fonts/PFDin-Medium.otf") format("truetype");
  font-weight: 600;
  font-style: normal; }

@font-face {
  font-family: PF-Din;
  src: url("../../fonts/PFDin-Regular.otf") format("truetype");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: PF-Din;
  src: url("../../fonts/PFDin-Light.otf") format("truetype");
  font-weight: 400;
  font-style: normal; }

h1 {
  font-size: 40px;
  font-weight: 400; }

h2 {
  font-size: 28px;
  font-family: "Roboto", sans-serif;
  font-weight: 300; }

h2.pfdin {
  font-size: 28px;
  font-family: PF-Din;
  font-weight: 500; }

h3 {
  font-size: 22px;
  font-family: "Roboto", sans-serif;
  font-weight: 400; }

h3.pfdin {
  font-size: 22px;
  font-family: PF-Din;
  font-weight: 600; }

h4 {
  font-size: 18px;
  font-family: "Roboto", sans-serif;
  font-weight: 400; }

h1.heading {
  font-size: 41px;
  font-weight: 400;
  line-height: 41px; }
  @media (min-width: 992px) {
    h1.heading {
      font-size: 55px;
      line-height: 55px; } }

/* Colours */
/* Font */
@font-face {
  font-family: PF-Din;
  src: url("../../fonts/PFDin-Bold.otf") format("truetype");
  font-weight: 700;
  font-style: normal; }

@font-face {
  font-family: PF-Din;
  src: url("../../fonts/PFDin-Medium.otf") format("truetype");
  font-weight: 600;
  font-style: normal; }

@font-face {
  font-family: PF-Din;
  src: url("../../fonts/PFDin-Regular.otf") format("truetype");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: PF-Din;
  src: url("../../fonts/PFDin-Light.otf") format("truetype");
  font-weight: 400;
  font-style: normal; }

/* Hyperlinks, backgrounds and colors */
p {
  font-size: 18px; }

a {
  color: rgba(0, 0, 0, 0.85); }
  a:hover {
    color: #C30019;
    text-decoration: none; }

.bg-whitesmoke {
  background: #F5F5F5; }

.bg-ligth_gray {
  background: #BCBCBC; }

.bg-dark_gray {
  background: #585858; }

.bg-black {
  background: black; }

.bg-red {
  background: #C30019; }

.color-white {
  color: white; }

.color-red {
  color: #C30019; }

.red-font {
  color: #C30019; }

.align-icon {
  vertical-align: sub; }

strong {
  font-weight: 600; }

.bigger-font-size {
  font-size: 21px; }

.breadcrumbs {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 15px; }

.red-line {
  margin-top: 0;
  margin-bottom: 0;
  border: 0;
  border-top: 2px solid #C30019; }

.white-line {
  margin-top: 0;
  margin-bottom: 0;
  border: 0;
  border-top: 1px solid rgba(255, 255, 255, 0.5); }

.download {
  color: rgba(0, 0, 0, 0.85); }
  .download:hover {
    color: #C30019;
    text-decoration: none; }

.link {
  background: #C30019;
  color: white !important;
  padding: 6px 20px;
  color: white;
  text-transform: uppercase;
  font-size: 12px;
  font-family: "Roboto", sans-serif;
  cursor: pointer; }
  .link:hover {
    text-decoration: none;
    color: white;
    background: #9e0317; }
  .link:focus {
    outline: none; }

.link-white {
  background: white;
  color: rgba(0, 0, 0, 0.85);
  padding: 6px 20px;
  text-transform: uppercase;
  font-size: 12px;
  font-family: "Roboto", sans-serif; }
  .link-white:hover {
    text-decoration: none;
    color: white;
    background: rgba(0, 0, 0, 0.85); }

.size-17 {
  font-size: 17px; }

.bg-image {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; }

.layer {
  position: absolute;
  top: 0;
  color: #fff;
  background: rgba(0, 0, 0, 0.15); }

.bg-layer {
  background: rgba(0, 0, 0, 0.2); }

.absolute-top {
  position: absolute;
  top: 0; }

.absolute-bottom {
  position: absolute;
  bottom: 0; }

.absolute-link {
  position: absolute;
  bottom: 20px;
  color: white; }

@media (min-width: 992px) {
  .w-lg-75 {
    width: 75%; } }

@media (min-width: 992px) {
  .w-lg-40 {
    width: 40%; } }

@media (min-width: 992px) {
  .w-lg-50 {
    width: 60%; } }

@media (min-width: 992px) {
  .more-padding-top {
    padding: 130px 0 50px 0; } }

.addresses {
  color: #585858; }
  .addresses .address {
    border-left: 1px solid #585858;
    height: 130px; }
    .addresses .address h4 {
      color: black; }
  .addresses p {
    margin-bottom: 0;
    font-size: 14px; }

.numbers {
  position: relative;
  z-index: 2; }
  .numbers .num {
    border-left: 1px solid white; }
  .numbers p {
    color: white;
    margin-bottom: 0; }
  .numbers span {
    color: white;
    font-size: 48px; }

.banner {
  height: 250px; }

/* Colours */
/* Font */
@font-face {
  font-family: PF-Din;
  src: url("../../fonts/PFDin-Bold.otf") format("truetype");
  font-weight: 700;
  font-style: normal; }

@font-face {
  font-family: PF-Din;
  src: url("../../fonts/PFDin-Medium.otf") format("truetype");
  font-weight: 600;
  font-style: normal; }

@font-face {
  font-family: PF-Din;
  src: url("../../fonts/PFDin-Regular.otf") format("truetype");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: PF-Din;
  src: url("../../fonts/PFDin-Light.otf") format("truetype");
  font-weight: 400;
  font-style: normal; }

.boxes .box {
  box-shadow: 1px 2px 20px 2px rgba(0, 0, 0, 0.28);
  background: white;
  padding-bottom: 45px;
  height: 100%; }
  .boxes .box .thumbnail {
    height: 150px;
    transition: transform 0.5s;
    transform: scale(1);
    -webkit-transform: scale(1); }
    .boxes .box .thumbnail:hover {
      transition: transform 0.5s;
      transform: scale(1.15);
      -webkit-transform: scale(1.15);
      cursor: pointer; }

.long-boxes .box {
  box-shadow: 1px 2px 20px 2px rgba(0, 0, 0, 0.28);
  background: white;
  padding-bottom: 45px;
  position: relative;
  height: 100%; }
  .long-boxes .box .thumbnail {
    height: 170px;
    transition: transform 0.5s;
    transform: scale(1);
    -webkit-transform: scale(1); }
    .long-boxes .box .thumbnail:hover {
      transition: transform 0.5s;
      transform: scale(1.15);
      -webkit-transform: scale(1.15);
      cursor: pointer; }

.documents .box {
  box-shadow: 1px 2px 20px 2px rgba(0, 0, 0, 0.28);
  height: 185px;
  background: white; }

.updates .box {
  box-shadow: 1px 2px 20px 2px rgba(0, 0, 0, 0.28);
  height: 180px;
  background: white; }

.news .box {
  box-shadow: 1px 2px 20px 2px rgba(0, 0, 0, 0.28);
  height: 380px;
  background: white;
  opacity: 0;
  top: 30px;
  position: relative;
  animation: goUp 0.55s ease-in-out forwards; }
  .news .box .thumbnail {
    height: 180px;
    transition: transform 0.5s;
    transform: scale(1);
    -webkit-transform: scale(1); }
    .news .box .thumbnail:hover {
      transition: transform 0.5s;
      transform: scale(1.15);
      -webkit-transform: scale(1.15);
      cursor: pointer; }
  .news .box .date {
    color: #585858; }

.news .big {
  height: 400px; }
  .news .big .thumbnail {
    height: 210px; }

@keyframes goUp {
  from {
    opacity: 0;
    top: 30px; }
  to {
    opacity: 1;
    top: 0; } }

/* PARALLAX */
.parallax {
  height: 500px;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-perspective: 300px;
  perspective: 300px;
  -webkit-perspective-origin-x: 100%;
  perspective-origin-x: 100%; }

.parallax__group {
  position: relative;
  height: 500px;
  height: 100vh;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d; }

.parallax__layer {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  -webkit-transform-origin-x: 100%;
  transform-origin-x: 100%; }

.parallax__layer--fore {
  -webkit-transform: translateZ(90px) scale(0.7);
  transform: translateZ(90px) scale(0.7);
  z-index: 1; }

.parallax__layer--base {
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  z-index: 4; }

.parallax__layer--back {
  -webkit-transform: translateZ(-300px) scale(2);
  transform: translateZ(-300px) scale(2);
  z-index: 3; }

.parallax__layer--deep {
  -webkit-transform: translateZ(-600px) scale(3);
  transform: translateZ(-600px) scale(3);
  z-index: 2; }

/* Colours */
/* Font */
@font-face {
  font-family: PF-Din;
  src: url("../../fonts/PFDin-Bold.otf") format("truetype");
  font-weight: 700;
  font-style: normal; }

@font-face {
  font-family: PF-Din;
  src: url("../../fonts/PFDin-Medium.otf") format("truetype");
  font-weight: 600;
  font-style: normal; }

@font-face {
  font-family: PF-Din;
  src: url("../../fonts/PFDin-Regular.otf") format("truetype");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: PF-Din;
  src: url("../../fonts/PFDin-Light.otf") format("truetype");
  font-weight: 400;
  font-style: normal; }

header {
  background: white; }
  header .navbar-nav {
    opacity: 0; }
    @media (min-width: 992px) {
      header .navbar-nav {
        opacity: 1; } }
    header .navbar-nav hr {
      margin-top: 10px; }
    header .navbar-nav .nav-link {
      text-transform: uppercase;
      text-align: center;
      color: rgba(0, 0, 0, 0.85);
      font-family: "Roboto", sans-serif;
      font-weight: 300;
      position: relative;
      font-size: 15px; }
      header .navbar-nav .nav-link:hover {
        color: #C30019; }
      @media (min-width: 992px) {
        header .navbar-nav .nav-link {
          transition: color 0.5s;
          font-size: 15px; }
          header .navbar-nav .nav-link::after {
            width: 0%;
            height: 2px;
            display: block;
            background-color: #C30019;
            content: " ";
            position: absolute;
            top: 34px;
            left: 50%;
            transition: left 0.3s cubic-bezier(0.215, 0.61, 0.355, 1), width 0.3s cubic-bezier(0.215, 0.61, 0.355, 1); }
          header .navbar-nav .nav-link:hover {
            color: #9e0317;
            transition: color 0.5s; }
            header .navbar-nav .nav-link:hover::after {
              width: 100%;
              height: 2px;
              display: block;
              background-color: #C30019;
              content: " ";
              position: absolute;
              top: 34px;
              left: 0; } }
    header .navbar-nav .nav-link.active {
      color: #9e0317; }
    header .navbar-nav hr {
      border-top: 1px solid #BCBCBC;
      width: 100%; }
      @media (min-width: 992px) {
        header .navbar-nav hr {
          display: none; } }

/* Header nav icon animation */
.icon-bar {
  width: 22px;
  height: 2px;
  display: block;
  transition: all 0.2s;
  margin-top: 4px; }

.navbar-toggler {
  border: none;
  padding: 0;
  transform: scale(1.15); }
  .navbar-toggler .top-bar {
    transform: rotate(45deg);
    transform-origin: 10% 10%;
    background: #585858 !important; }
  .navbar-toggler .middle-bar {
    opacity: 0;
    background: #585858 !important; }
  .navbar-toggler .bottom-bar {
    transform: rotate(-45deg);
    transform-origin: 10% 90%;
    background: #585858 !important; }

.navbar-toggler:focus {
  outline: none; }

.navbar-toggler.collapsed .top-bar {
  transform: rotate(0); }

.navbar-toggler.collapsed .middle-bar {
  opacity: 1; }

.navbar-toggler.collapsed .bottom-bar {
  transform: rotate(0); }

.arrow-up {
  width: 0px;
  height: 0px;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-bottom: 15px solid #C30019;
  margin-left: 12px; }

.dropdown:hover .dropdown-menu {
  display: block; }

.dropdown-menu {
  border: none;
  border-radius: 0px;
  background: white;
  padding: 0; }
  .dropdown-menu .dropdown-item {
    background: #C30019;
    color: white !important;
    text-transform: uppercase;
    padding: 12px 13px 7px 13px;
    font-size: 14px; }
    .dropdown-menu .dropdown-item:hover {
      color: rgba(0, 0, 0, 0.85) !important; }

.top-icons .fab {
  color: rgba(0, 0, 0, 0.85);
  font-size: 22px;
  transition: transform 0.4s;
  transform: scale(1);
  -webkit-transform: scale(1); }
  @media (min-width: 992px) {
    .top-icons .fab {
      font-size: 17px; } }
  .top-icons .fab:hover {
    color: #9e0317;
    transition: transform 0.3s;
    transform: scale(1.2);
    -webkit-transform: scale(1.2); }

.top-icons .fa-facebook-f {
  font-size: 15px;
  margin-top: -20px; }

.search-btn {
  margin-top: -2px;
  cursor: pointer;
  padding: .5rem 1rem; }

.logout {
  background: #BCBCBC;
  padding: 6px 20px;
  color: #fff;
  text-transform: uppercase;
  font-size: 12px;
  font-family: Roboto,sans-serif;
  cursor: pointer; }
  .logout:hover {
    color: #fff;
    background: rgba(0, 0, 0, 0.85); }

/* Colours */
/* Font */
@font-face {
  font-family: PF-Din;
  src: url("../../fonts/PFDin-Bold.otf") format("truetype");
  font-weight: 700;
  font-style: normal; }

@font-face {
  font-family: PF-Din;
  src: url("../../fonts/PFDin-Medium.otf") format("truetype");
  font-weight: 600;
  font-style: normal; }

@font-face {
  font-family: PF-Din;
  src: url("../../fonts/PFDin-Regular.otf") format("truetype");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: PF-Din;
  src: url("../../fonts/PFDin-Light.otf") format("truetype");
  font-weight: 400;
  font-style: normal; }

.contact-form {
  min-height: 330px !important; }

.gform_wrapper .gfield_label {
  display: none !important; }

.gform_wrapper li.hidden_label input {
  margin-top: 0 !important; }

@media (min-width: 640px) {
  .gform_wrapper #field_1_3 {
    height: 50px; } }

.gform_wrapper textarea {
  border: none !important; }
  .gform_wrapper textarea:focus {
    outline: #C30019 auto 3px; }

.gform_wrapper input {
  padding: 6px !important;
  border: none !important; }
  .gform_wrapper input:focus {
    outline: #C30019 auto 3px; }

.gform_wrapper input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 50px white inset;
  -webkit-text-fill-color: #333;
  font-family: PF-Din !important; }

.gform_wrapper input:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0 50px white inset;
  -webkit-text-fill-color: #333;
  font-family: PF-Din !important; }

.gform_wrapper ::-webkit-input-placeholder {
  text-transform: uppercase;
  font-size: 14px; }

.gform_wrapper :-ms-input-placeholder {
  text-transform: uppercase;
  font-size: 14px; }

.gform_wrapper ::placeholder {
  text-transform: uppercase;
  font-size: 14px; }

.gform_wrapper input[type=submit] {
  background: #C30019;
  color: white;
  border: none;
  text-transform: uppercase;
  font-size: 14px !important;
  padding: 7px 20px 4px 20px !important; }
  .gform_wrapper input[type=submit]:hover {
    background: #9e0317; }

.gform_wrapper div.validation_error {
  display: none !important; }

.gform_wrapper .field_description_below .gfield_description {
  padding-top: 8px !important; }

.gform_wrapper .gfield_error {
  background: transparent !important;
  border: 0 !important; }

.gform_wrapper .validation_message {
  color: #9e0317 !important; }

.gform_wrapper li.gfield_error input {
  border: 0 !important; }

#gform_confirmation_wrapper_1 .gform_confirmation_message_1 {
  text-align: center; }

/* Colours */
/* Font */
@font-face {
  font-family: PF-Din;
  src: url("../../fonts/PFDin-Bold.otf") format("truetype");
  font-weight: 700;
  font-style: normal; }

@font-face {
  font-family: PF-Din;
  src: url("../../fonts/PFDin-Medium.otf") format("truetype");
  font-weight: 600;
  font-style: normal; }

@font-face {
  font-family: PF-Din;
  src: url("../../fonts/PFDin-Regular.otf") format("truetype");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: PF-Din;
  src: url("../../fonts/PFDin-Light.otf") format("truetype");
  font-weight: 400;
  font-style: normal; }

.search-box {
  display: none;
  background: white;
  position: absolute;
  width: 100%;
  z-index: 11;
  height: 600px;
  top: 0; }
  @media (min-width: 992px) {
    .search-box {
      height: 390px; } }
  .search-box .container, .search-box .close-window {
    display: none; }
  .search-box img {
    height: 45px; }
  .search-box input[type='text'] {
    width: 100%;
    background: transparent;
    border: none;
    border-bottom: 1px solid #C30019;
    color: rgba(0, 0, 0, 0.85);
    font-size: 22px;
    padding-bottom: 4px; }
    .search-box input[type='text']:focus {
      outline: none; }
  .search-box ::-webkit-input-placeholder {
    color: #BCBCBC; }
  .search-box .results-container .result {
    color: rgba(0, 0, 0, 0.85);
    padding: 6px 0;
    font-size: 18px; }
    @media (min-width: 992px) {
      .search-box .results-container .result {
        font-size: 16px; } }
    .search-box .results-container .result:hover {
      text-decoration: none;
      opacity: 0.7;
      color: #C30019; }
  .search-box .close-window {
    position: absolute;
    bottom: 20px; }
    .search-box .close-window a {
      color: rgba(0, 0, 0, 0.85);
      font-size: 14px;
      text-transform: uppercase; }
      .search-box .close-window a:hover {
        color: #C30019;
        opacity: 0.7;
        cursor: pointer; }
    .search-box .close-window img {
      height: 16px;
      margin-right: 9px;
      vertical-align: sub; }

/* Colours */
/* Font */
@font-face {
  font-family: PF-Din;
  src: url("../../fonts/PFDin-Bold.otf") format("truetype");
  font-weight: 700;
  font-style: normal; }

@font-face {
  font-family: PF-Din;
  src: url("../../fonts/PFDin-Medium.otf") format("truetype");
  font-weight: 600;
  font-style: normal; }

@font-face {
  font-family: PF-Din;
  src: url("../../fonts/PFDin-Regular.otf") format("truetype");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: PF-Din;
  src: url("../../fonts/PFDin-Light.otf") format("truetype");
  font-weight: 400;
  font-style: normal; }

#documents-response .prev-btn, #updates-response .prev-btn {
  background-image: url(../../../assets/images/prev-pag.png);
  background-size: contain;
  background-repeat: no-repeat;
  width: 20px;
  height: 20px;
  background-color: transparent;
  border: none;
  margin-right: 22px; }
  #documents-response .prev-btn:hover, #updates-response .prev-btn:hover {
    background-image: url(../../../assets/images/prev-pag-black.png); }
  #documents-response .prev-btn:focus, #updates-response .prev-btn:focus {
    outline: none; }
  #documents-response .prev-btn:disabled, #updates-response .prev-btn:disabled {
    opacity: 0; }

#documents-response .next-btn, #updates-response .next-btn {
  background-image: url(../../../assets/images/next-page.png);
  background-size: contain;
  background-repeat: no-repeat;
  width: 20px;
  height: 20px;
  background-color: transparent;
  border: none;
  margin-left: 22px; }
  #documents-response .next-btn:hover, #updates-response .next-btn:hover {
    background-image: url(../../../assets/images/next-page-black.png); }
  #documents-response .next-btn:focus, #updates-response .next-btn:focus {
    outline: none; }
  #documents-response .next-btn:disabled, #updates-response .next-btn:disabled {
    opacity: 0; }

#documents-response .changePage, #updates-response .changePage {
  background: #BCBCBC;
  height: 30px;
  width: 30px;
  line-height: 30px;
  font-size: 14px;
  border: 1px solid #BCBCBC;
  color: rgba(0, 0, 0, 0.85);
  font-weight: 500;
  margin-left: 1px;
  margin-right: 1px; }
  #documents-response .changePage:hover, #updates-response .changePage:hover {
    background: rgba(0, 0, 0, 0.85);
    color: white;
    border: 1px solid rgba(0, 0, 0, 0.85); }
  #documents-response .changePage:focus, #updates-response .changePage:focus {
    outline: none; }

#documents-response .changePage.active, #updates-response .changePage.active {
  background: white;
  border: 1px solid #989898; }
  #documents-response .changePage.active:hover, #updates-response .changePage.active:hover {
    background: white;
    border: 1px solid #989898;
    color: rgba(0, 0, 0, 0.85); }

#updates-response .prev-btn {
  background-image: url(../../../assets/images/prev-pag-white.png); }

#updates-response .next-btn {
  background-image: url(../../../assets/images/next-page-white.png); }

.video-box {
  height: 650px; }

.embed-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%; }

.embed-container iframe, .embed-container object, .embed-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

@media (min-width: 768px) {
  .video-modal .modal-dialog {
    max-width: 700px; } }

@media (min-width: 992px) {
  .video-modal .modal-dialog {
    max-width: 900px; } }

@media (min-width: 1400px) {
  .video-modal .modal-dialog {
    max-width: 1000px; } }

.video-modal .modal-dialog .modal-content {
  background-color: transparent;
  border: none; }
  .video-modal .modal-dialog .modal-content .modal-header {
    border: 0 !important;
    padding-bottom: 5px; }
  .video-modal .modal-dialog .modal-content .close-film {
    float: right;
    height: 25px;
    cursor: pointer; }
    .video-modal .modal-dialog .modal-content .close-film:hover {
      opacity: 0.6; }

/* Colours */
/* Font */
@font-face {
  font-family: PF-Din;
  src: url("../../fonts/PFDin-Bold.otf") format("truetype");
  font-weight: 700;
  font-style: normal; }

@font-face {
  font-family: PF-Din;
  src: url("../../fonts/PFDin-Medium.otf") format("truetype");
  font-weight: 600;
  font-style: normal; }

@font-face {
  font-family: PF-Din;
  src: url("../../fonts/PFDin-Regular.otf") format("truetype");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: PF-Din;
  src: url("../../fonts/PFDin-Light.otf") format("truetype");
  font-weight: 400;
  font-style: normal; }

.leadership .person {
  height: 260px; }
  .leadership .person .img-person {
    height: 120px;
    width: 120px;
    border-radius: 50%; }

.leadership .slick-prev, .leadership .slick-next {
  background: transparent;
  color: white; }

.leadership .slick-prev {
  background-image: url("../../images/arrow-prev-grey.png") !important;
  background-size: contain;
  background-repeat: no-repeat;
  height: 40px;
  width: 30px;
  left: -45px; }
  .leadership .slick-prev:before {
    content: none; }
  .leadership .slick-prev:hover, .leadership .slick-prev:focus {
    background-image: url("../../images/arrow-prev-grey.png") !important;
    background-size: contain;
    background-repeat: no-repeat;
    height: 40px;
    width: 30px;
    left: -40px; }

.leadership .slick-next {
  background-image: url("../../images/arrow-next-grey.png") !important;
  background-size: 100%;
  background-repeat: no-repeat;
  height: 40px;
  width: 30px;
  right: -40px; }
  .leadership .slick-next:before {
    content: none; }
  .leadership .slick-next:hover, .leadership .slick-next:focus {
    background-image: url("../../images/arrow-next-grey.png") !important;
    background-size: 100%;
    background-repeat: no-repeat;
    height: 40px;
    width: 30px; }

.leadership .open-slider {
  width: 350px;
  text-align: center;
  background: #F5F5F5;
  cursor: pointer;
  text-transform: uppercase;
  font-family: "Roboto", sans-serif;
  font-size: 14px; }
  .leadership .open-slider:hover {
    background: rgba(0, 0, 0, 0.85);
    color: white !important; }

.leadership .open-slider.active {
  background: #585858;
  color: white; }

.leadership .slick-dots li {
  margin: 0 3px; }
  .leadership .slick-dots li button {
    height: 30px; }
    .leadership .slick-dots li button::before {
      content: '_';
      font-size: 30px;
      font-weight: 700; }

/* Colours */
/* Font */
@font-face {
  font-family: PF-Din;
  src: url("../../fonts/PFDin-Bold.otf") format("truetype");
  font-weight: 700;
  font-style: normal; }

@font-face {
  font-family: PF-Din;
  src: url("../../fonts/PFDin-Medium.otf") format("truetype");
  font-weight: 600;
  font-style: normal; }

@font-face {
  font-family: PF-Din;
  src: url("../../fonts/PFDin-Regular.otf") format("truetype");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: PF-Din;
  src: url("../../fonts/PFDin-Light.otf") format("truetype");
  font-weight: 400;
  font-style: normal; }

.login-page h2 {
  font-weight: 500; }

.login-page #loginform {
  font-family: PF-Din !important; }
  .login-page #loginform label {
    display: block;
    padding-top: 8px;
    font-weight: 500; }
  .login-page #loginform input[type="text"], .login-page #loginform input[type="password"] {
    width: 100%;
    background: white !important;
    border: 1px solid white;
    padding: 4px 6px;
    border-radius: 3px; }
    .login-page #loginform input[type="text"]:focus, .login-page #loginform input[type="password"]:focus {
      outline: none; }
  .login-page #loginform input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 50px white inset;
    -webkit-text-fill-color: #333;
    font-family: PF-Din !important; }
  .login-page #loginform input:-webkit-autofill:focus {
    -webkit-box-shadow: 0 0 0 50px white inset;
    -webkit-text-fill-color: #333;
    font-family: PF-Din !important; }
  .login-page #loginform input[type="submit"] {
    margin-top: 20px;
    background: #C30019;
    color: white !important;
    padding: 6px 20px;
    color: white;
    text-transform: uppercase;
    font-size: 12px;
    font-family: "Roboto", sans-serif;
    cursor: pointer; }
    .login-page #loginform input[type="submit"]:hover {
      text-decoration: none;
      color: white;
      background: #9e0317; }
    .login-page #loginform input[type="submit"]:focus {
      outline: none; }

/* Colours */
/* Font */
@font-face {
  font-family: PF-Din;
  src: url("../../fonts/PFDin-Bold.otf") format("truetype");
  font-weight: 700;
  font-style: normal; }

@font-face {
  font-family: PF-Din;
  src: url("../../fonts/PFDin-Medium.otf") format("truetype");
  font-weight: 600;
  font-style: normal; }

@font-face {
  font-family: PF-Din;
  src: url("../../fonts/PFDin-Regular.otf") format("truetype");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: PF-Din;
  src: url("../../fonts/PFDin-Light.otf") format("truetype");
  font-weight: 400;
  font-style: normal; }

footer {
  position: relative;
  z-index: 2; }
  footer .address {
    border-left: 1px solid white;
    height: 130px;
    color: white; }
  footer a {
    color: white !important; }
  footer p {
    margin-bottom: 0;
    font-size: 14px; }
  footer .signup {
    font-weight: 400;
    font-size: 20px; }
  @media (min-width: 768px) {
    footer form {
      display: flex; } }
  @media (min-width: 768px) {
    footer form .gform_body {
      margin-right: 15px; } }
  footer form .gform_body ul.gform_fields li.gfield {
    margin: 0 !important;
    padding: 0 !important; }
    footer form .gform_body ul.gform_fields li.gfield .ginput_container {
      margin: 0 !important; }
      @media (min-width: 768px) {
        footer form .gform_body ul.gform_fields li.gfield .ginput_container {
          width: 290px !important; } }
      footer form .gform_body ul.gform_fields li.gfield .ginput_container input {
        width: 100%;
        margin-bottom: 20px; }
        @media (min-width: 768px) {
          footer form .gform_body ul.gform_fields li.gfield .ginput_container input {
            margin-bottom: 0; } }
        footer form .gform_body ul.gform_fields li.gfield .ginput_container input::placeholder {
          text-transform: none;
          font-size: 16px; }
  footer form .gform_footer {
    margin: 0 !important;
    padding: 0 !important; }
    footer form .gform_footer input[type=submit] {
      padding: 7px 20px 7px 20px !important; }
      footer form .gform_footer input[type=submit]:focus {
        outline: none; }

/* Colours */
/* Font */
@font-face {
  font-family: PF-Din;
  src: url("../../fonts/PFDin-Bold.otf") format("truetype");
  font-weight: 700;
  font-style: normal; }

@font-face {
  font-family: PF-Din;
  src: url("../../fonts/PFDin-Medium.otf") format("truetype");
  font-weight: 600;
  font-style: normal; }

@font-face {
  font-family: PF-Din;
  src: url("../../fonts/PFDin-Regular.otf") format("truetype");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: PF-Din;
  src: url("../../fonts/PFDin-Light.otf") format("truetype");
  font-weight: 400;
  font-style: normal; }

@media (min-width: 576px) {
  #modalPerson .modal-dialog {
    max-width: 800px; } }

#modalPerson .modal-dialog .modal-content {
  border: none;
  border-radius: 0;
  box-shadow: none; }
  #modalPerson .modal-dialog .modal-content .modal-header {
    border: none !important; }
  #modalPerson .modal-dialog .modal-content .role {
    color: #585858;
    font-size: 17px; }

/* Colours */
/* Font */
@font-face {
  font-family: PF-Din;
  src: url("../../fonts/PFDin-Bold.otf") format("truetype");
  font-weight: 700;
  font-style: normal; }

@font-face {
  font-family: PF-Din;
  src: url("../../fonts/PFDin-Medium.otf") format("truetype");
  font-weight: 600;
  font-style: normal; }

@font-face {
  font-family: PF-Din;
  src: url("../../fonts/PFDin-Regular.otf") format("truetype");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: PF-Din;
  src: url("../../fonts/PFDin-Light.otf") format("truetype");
  font-weight: 400;
  font-style: normal; }

#carouselHome {
  height: 500px; }
  #carouselHome .carousel-item .item {
    height: 500px; }
  #carouselHome .carousel-control-prev-icon {
    display: none; }
    @media (min-width: 992px) {
      #carouselHome .carousel-control-prev-icon {
        display: block;
        background-image: url("../../images/arrow-prev.png"); } }
  #carouselHome .carousel-control-next-icon {
    display: none; }
    @media (min-width: 992px) {
      #carouselHome .carousel-control-next-icon {
        display: block;
        background-image: url("../../images/arrow-next.png"); } }
  #carouselHome .carousel-control-next-icon, #carouselHome .carousel-control-prev-icon {
    width: 28px;
    height: 28px; }
  #carouselHome .carousel-indicators li {
    width: 20px; }

.arcs {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%; }
  .arcs .arc_1 {
    height: 300px;
    position: relative; }
  .arcs .arc_2 {
    float: right;
    height: 400px;
    position: relative; }

.shapeA {
  height: 550px;
  left: -250px;
  position: relative;
  display: none; }
  @media (min-width: 992px) {
    .shapeA {
      display: block; } }

.shapeArq {
  width: 100%;
  position: relative; }

.products {
  position: relative;
  z-index: 2; }
  .products .product .product-img {
    height: 250px;
    position: relative;
    opacity: 0; }
    @media (min-width: 992px) {
      .products .product .product-img {
        height: 210px; } }
  .products .product p {
    font-size: 16px; }

.short-text p {
  margin-bottom: 0;
  text-align: center; }

.vacancies .vacancy p, .vacancies .vacancy h4 {
  margin-bottom: 0; }

.vacancies .labels p {
  margin-bottom: 0;
  text-transform: uppercase;
  font-size: 14px;
  font-family: "Roboto", sans-serif; }

#news-response {
  min-height: 700px; }

#more-news {
  display: block;
  text-align: center;
  width: 100%;
  color: white !important; }

.publication .move-img {
  position: relative; }

img.gform_ajax_spinner {
  display: none !important; }

#audio-player:focus {
  outline: none; }

.close-audio {
  cursor: pointer; }

.open-nav-bg {
  position: absolute;
  z-index: 2;
  right: 0;
  top: 0;
  background: white;
  height: 50px;
  width: 50px;
  border-radius: 0 0 0 50%; }

.press-kit {
  color: white; }
  .press-kit hr {
    border-top: 1px solid rgba(255, 255, 255, 0.68); }
  .press-kit p {
    margin: 0;
    color: rgba(255, 255, 255, 0.68); }

/* Modal copy */
@media (min-width: 576px) {
  .modalCopy .modal-dialog {
    max-width: 950px; } }

.modalCopy .modal-dialog .modal-content {
  border-radius: 0; }
  .modalCopy .modal-dialog .modal-content .modal-header {
    padding: 35px;
    padding-bottom: 0;
    border: none; }
    .modalCopy .modal-dialog .modal-content .modal-header .close {
      font-family: -webkit-pictograph;
      font-size: 33px;
      margin-top: -21px; }
      .modalCopy .modal-dialog .modal-content .modal-header .close:focus {
        outline: none; }
  .modalCopy .modal-dialog .modal-content .modal-body {
    padding: 35px;
    padding-top: 25px; }
    .modalCopy .modal-dialog .modal-content .modal-body p {
      font-size: 16px; }
    .modalCopy .modal-dialog .modal-content .modal-body img {
      max-width: 100%;
      max-height: 400px; }

/* Filter button */
select {
  width: 200px;
  background: #fff;
  -webkit-appearance: none;
  border-radius: 0;
  padding: 6px 3px 3px 7px;
  text-transform: uppercase;
  font-size: 14px;
  background-color: #fff;
  background-image: url(../../images/select-arrow.png);
  background-position-x: 95%;
  background-position-y: 30%;
  background-size: 18px 18px;
  background-repeat: no-repeat;
  border: 1px solid white;
  font-weight: 500;
  color: #585858; }
  select:focus {
    outline: none; }

.stat {
  border-left: 1px solid gray;
  color: #585858; }
  .stat .number {
    font-size: 47px !important;
    letter-spacing: 0.5px;
    font-weight: 300;
    font-family: "Roboto", sans-serif; }
  .stat .description {
    font-size: 13.5px;
    line-height: 17px; }

.table-materials tbody td, .table-materials tbody th, .table-materials thead td, .table-materials thead th {
  text-align: center;
  font-weight: normal;
  padding: 4px 10px;
  border: 2px solid white; }

.table-materials tbody tr {
  background: #F2F2F2; }

.table-materials .bg-red {
  background: #C5040B;
  color: white; }

.table-materials .bg-gray {
  background: #565656;
  color: white; }

#chart {
  width: 260px;
  height: 260px; }

.locations p {
  margin-bottom: 0; }

.four-boxes p {
  font-size: 16px; }
