@import 'variables.scss';

.boxes {

    .box {
        box-shadow: 1px 2px 20px 2px rgba(0, 0, 0, 0.28);
        //height: 400px;
        background: white;
        padding-bottom: 45px;
        height: 100%;

        .thumbnail {
            height: 150px;
            transition: transform 0.5s;
            transform: scale(1);
            -webkit-transform: scale(1);

            &:hover {
                transition: transform 0.5s;
                transform: scale(1.15);
                -webkit-transform: scale(1.15);
                cursor: pointer;
            }
        }
    }
}

.long-boxes {

    .box {
        box-shadow: 1px 2px 20px 2px rgba(0, 0, 0, 0.28);
        //height: 570px;
        background: white;
        padding-bottom: 45px;
        position: relative;
        height: 100%;

        .thumbnail {
            height: 170px;
            transition: transform 0.5s;
            transform: scale(1);
            -webkit-transform: scale(1);

            &:hover {
                transition: transform 0.5s;
                transform: scale(1.15);
                -webkit-transform: scale(1.15);
                cursor: pointer;
            }
        }
    }
}

.documents {

    .box {
        box-shadow: 1px 2px 20px 2px rgba(0, 0, 0, 0.28);
        height: 185px;
        background: white;
    }
}

.updates {

    .box {
        box-shadow: 1px 2px 20px 2px rgba(0, 0, 0, 0.28);
        height: 180px;
        background: white;
    }
}

.news {

    .box {
        box-shadow: 1px 2px 20px 2px rgba(0, 0, 0, 0.28);
        height: 380px;
        background: white;
        opacity: 0;
        top: 30px;
        position: relative;
        animation: goUp 0.55s ease-in-out forwards;

        .thumbnail {
            height: 180px;
            transition: transform 0.5s;
            transform: scale(1);
            -webkit-transform: scale(1);

            &:hover {
                transition: transform 0.5s;
                transform: scale(1.15);
                -webkit-transform: scale(1.15);
                cursor: pointer;
            }
        }

        .date {
            color: $dark_gray;
        }
    }

    .big {
        height: 400px;

        .thumbnail {
            height: 210px;
        }
    }
}

@keyframes goUp {
    from {
        opacity: 0;
        top: 30px;
    }
    to {
        opacity: 1;
        top: 0;
    }
}