@import 'variables.scss';

#carouselHome {
    height:500px;

    .carousel-item .item {
        height: 500px;
    }

    .carousel-control-prev-icon {

        display: none;

        @media (min-width:992px){
            display: block;
            background-image: url('../../images/arrow-prev.png');
        }
    }

    .carousel-control-next-icon {

        display: none;

        @media (min-width:992px){
            display: block;
            background-image: url('../../images/arrow-next.png');
        }
    }

    .carousel-control-next-icon, .carousel-control-prev-icon {
        width: 28px;
        height: 28px;
    }

    .carousel-indicators li {
        width: 20px;
    }
}