@import 'variables.scss';

header {
    background: white;

    .navbar-nav {

        opacity: 0;

        @media (min-width: 992px) {
            opacity: 1;
        }

        hr {    
            margin-top: 10px;
        }

        .nav-link {
            text-transform: uppercase;
            text-align: center;
            color: $black;
            font-family: $roboto;
            font-weight: 300;
            position: relative;
            font-size: 15px;
            
            &:hover {
                color: $red;
            }

            @media (min-width: 992px){
                transition: color 0.5s;
                font-size: 15px;

                &::after {
                    width: 0%;
                    height: 2px;
                    display: block;
                    background-color: $red;
                    content: " ";
                    position: absolute;
                    top: 34px;
                    left: 50%;
                    transition: left 0.3s cubic-bezier(0.215, 0.61, 0.355, 1), width 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
                }

                &:hover {
                    color: $red_hover;
                    transition: color 0.5s;
    
                    &::after {
                        width: 100%;
                        height: 2px;
                        display: block;
                        background-color: $red;
                        content: " ";
                        position: absolute;
                        top: 34px;
                        left: 0;
                    }
                }
            }
            
        }

        .nav-link.active {
            color: $red_hover;
        }
    
        hr {
            border-top: 1px solid $ligth_gray;
            width: 100%;
    
            @media (min-width:992px){
                display: none;
            }
        }
        
    }
}


/* Header nav icon animation */

.icon-bar {
	width: 22px;
	height: 2px;
	display: block;
	transition: all 0.2s;
	margin-top: 4px;
}
.navbar-toggler {
    border: none;
    padding: 0;
    transform: scale(1.15);
        
    .top-bar {
        transform: rotate(45deg);
        transform-origin: 10% 10%;
        background: $dark_gray !important;
    }

    .middle-bar {
        opacity: 0;
        background: $dark_gray !important;
    }

    .bottom-bar {
        transform: rotate(-45deg);
        transform-origin: 10% 90%;
        background: $dark_gray !important;
    }
}
.navbar-toggler:focus{
	  outline: none;
}

.navbar-toggler.collapsed  {
    .top-bar {
        transform: rotate(0);
    }
    .middle-bar {
        opacity: 1;
    }
    .bottom-bar {
        transform: rotate(0);
    }
}

.top-icons {

    .fab {
        color: $black;
        font-size: 22px;
        transition: transform 0.4s;
        transform: scale(1);
        -webkit-transform: scale(1);

        @media(min-width:992px){
            font-size: 17px;
        }

        &:hover {
            color: $red_hover;
            transition: transform 0.3s;
            transform: scale(1.2);
            -webkit-transform: scale(1.2);
        }
    }

    .fa-facebook-f {
        font-size: 15px;
        margin-top: -20px;
    }
}

.search-btn {
    margin-top: -2px;
    cursor: pointer;
    padding: .5rem 1rem;
}

.logout {
    background: $ligth_gray;
    padding: 6px 20px;
    color: #fff;
    text-transform: uppercase;
    font-size: 12px;
    font-family: Roboto,sans-serif;
    cursor: pointer;

    &:hover {
        color: #fff;
        background: $black;
    }
}