@import 'variables.scss';

.leadership {

    .person {
        height: 260px;

        .img-person {
            height: 120px;
            width: 120px;
            border-radius: 50%;
        }
    }
}

.leadership {


    .slick-prev, .slick-next {
        background: transparent;
        color: white;
    }

    .slick-prev{
        background-image: url('../../images/arrow-prev-grey.png') !important;
        background-size: contain;
        background-repeat: no-repeat;
        height: 40px;
        width: 30px;
        left: -45px;
        
        &:before {
            content: none;
        }

        &:hover, &:focus  {
            background-image: url('../../images/arrow-prev-grey.png') !important;
            background-size: contain;
            background-repeat: no-repeat;
            height: 40px;
            width: 30px;
            left: -40px;
        }
    }

    .slick-next{
        background-image: url('../../images/arrow-next-grey.png') !important;
        background-size: 100%;
        background-repeat: no-repeat;
        height: 40px;
        width: 30px;
        right: -40px;
        
        &:before {
            content: none;
        }

        &:hover, &:focus {
            background-image: url('../../images/arrow-next-grey.png') !important;
            background-size: 100%;
            background-repeat: no-repeat;
            height: 40px;
            width: 30px;
        }
    }

    .open-slider {
        width: 350px;
        text-align: center;
        background: $whitesmoke;
        cursor: pointer;
        text-transform: uppercase;
        font-family: $roboto;
        font-size: 14px;

        &:hover {
            background: $black;
            color: white !important;
        }
    }

    .open-slider.active{
        background: $dark_gray;
        color: white;
    }

    .slick-dots li {
        margin: 0 3px;

        button {
            height: 30px;

            &::before {
                content: '_';
                font-size: 30px;
                font-weight: 700;
            }
        }
    }

}