@import 'variables.scss';

#modalPerson {
    .modal-dialog {

        @media (min-width: 576px){
            max-width: 800px;
        }
    
        .modal-content {
            border: none;
            border-radius: 0;
            box-shadow: none;
    
            .modal-header {
                border: none !important;
            }
    
            .role {
                color: $dark_gray;
                font-size: 17px;
            }
        }
    
    }
}