/* Colours */

$red: #C30019;
$red_hover: #9e0317;
$dark_red: #673327;
$black: rgba(0,0,0, 0.85);
$dark_gray: #585858;
$gray: #989898;
$ligth_gray: #BCBCBC;
$whitesmoke: #F5F5F5;

/* Font */

@font-face {
    font-family: PF-Din;
    src: url('../../fonts/PFDin-Bold.otf') format('truetype');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: PF-Din;
    src: url('../../fonts/PFDin-Medium.otf') format('truetype');
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: PF-Din;
    src: url('../../fonts/PFDin-Regular.otf') format('truetype');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: PF-Din;
    src: url('../../fonts/PFDin-Light.otf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

$pfdin: PF-Din;
$roboto: 'Roboto', sans-serif;
