.embed-container { 
    position: relative; 
    padding-bottom: 56.25%; 
    height: 0; 
    overflow: hidden; 
    max-width: 100%; 
}

.embed-container iframe, .embed-container object, .embed-container embed { 
    position: absolute; 
    top: 0; 
    left: 0; 
    width: 100%; 
    height: 100%; 
}

.video-modal {
    .modal-dialog {

        @media (min-width: 768px) {
            max-width: 700px;
        }
    
        @media (min-width: 992px) {
            max-width: 900px;
        }
    
        @media (min-width: 1400px) {
            max-width: 1000px;
        }
    
        .modal-content {
            background-color: transparent;
            border: none;
    
            .modal-header {
                border: 0 !important;
                padding-bottom: 5px;
            }
    
            .close-film {
                float: right;
                height: 25px;
                cursor: pointer;
    
                &:hover {
                    opacity: 0.6;
                }
            }
        }
    }
}