@import 'partials/variables.scss';


body {
    font-family: $pfdin;
}

@import 'partials/headings.scss';
@import 'partials/generic.scss';


.bg-image {
    background-size: cover;
    background-position: center; 
    background-repeat: no-repeat; 
}

.layer {
    position: absolute;
    top: 0;
    color: #fff;
    background: rgba(0, 0, 0, 0.15);
}

.bg-layer {
    background: rgba(0, 0, 0, 0.2);
}

.absolute-top {
    position: absolute;
    top: 0;
}

.absolute-bottom {
    position: absolute;
    bottom: 0;
}

.absolute-link {
    position: absolute;
    bottom: 20px;
    color: white;
}


.w-lg-75{
    @media (min-width: 992px){
        width: 75%;
    }
}


.w-lg-50 {
    @media (min-width: 992px){
        width: 50%;
    }
}


.more-padding-top{

    @media (min-width:992px){
        padding: 130px 0;
    }
    
}

.addresses {

    color: $dark_gray;

    .address {
        border-left: 1px solid $dark_gray;
        height: 130px;

        h4 {
            color: black;
        }
    }

    p {
        margin-bottom: 0;
        font-size: 14px;
    }
}

.numbers {

    position: relative;
    z-index: 2;

    .num {
        border-left: 1px solid white;
    }

    p  {
        color: white;
        margin-bottom: 0;
    }

    span {
        color: white;
        font-size: 48px;
    }
}


.banner {
    height:250px;
}



@import 'partials/boxes.scss';
@import 'partials/parallax.scss';
@import 'partials/header.scss';
@import 'partials/contact_form.scss';
@import 'partials/search.scss';
@import 'partials/pagination.scss';
@import 'partials/video_modal.scss';
@import 'partials/leadership.scss';
@import 'partials/login.scss';
@import 'partials/footer.scss';
@import 'partials/person_modal.scss';
@import 'partials/carousel.scss';

.arcs {
    position: absolute; 
    top: 0;
    width: 100%; 
    height: 100%;


    .arc_1 {
        height: 300px;  
        position: relative;
    }

    .arc_2 {
        float: right; 
        height: 400px;  
        position: relative;
    }
}

.shapeA{
    height: 550px;  
    left: -250px; 
    position: relative;
    display: none;


    @media (min-width:992px){
        display: block;
    }
}

.shapeArq{
    width: 100%;
    position: relative;
}


.products {
    position: relative;
    z-index: 2;

    .product {
        .product-img {
            height: 250px;
            position: relative;
            opacity: 0;

            @media (min-width: 992px){
                height: 210px;
            }
        }

        p {
            font-size: 16px;
        }
    }
}


.short-text {

    p {
        margin-bottom: 0;
        text-align: center;
    }
}


.vacancies {

    .vacancy {

        p, h4 {
            margin-bottom: 0;
        }
    }

    .labels p {
        margin-bottom: 0;
        text-transform: uppercase;
        font-size: 14px;
        font-family: $roboto;
    }
}


#news-response {
    min-height: 700px;
}

#more-news {
    display: block;
    text-align: center;
    width: 100%;
    color: white !important;
}


.publication {

    .move-img {
        position: relative;
    }
}

img.gform_ajax_spinner {
    display: none !important;
}


#audio-player{
    &:focus {
        outline: none;
    }
}
.close-audio {
    cursor: pointer;
}

.open-nav-bg {
    position: absolute; 
    z-index: 2; 
    right: 0;
    top: 0; 
    background: white; 
    height: 50px; 
    width: 50px;
    border-radius: 0 0 0 50%;
}

.press-kit {
    color: white;

    hr {
        border-top: 1px solid rgba(255, 255, 255, 0.68);
    }

    p {
        margin: 0;
        color: rgba(255, 255, 255, 0.68);
    }
}


/* Modal copy */
.modalCopy {

    .modal-dialog {

        @media (min-width: 576px){
            max-width: 800px;
        }

        .modal-content {
            border-radius: 0;

            .modal-header {
                padding: 35px;
                padding-bottom: 0;
                border: none;

                .close {
                    font-family: -webkit-pictograph;
                    font-size: 33px;
                    margin-top: -21px;

                    &:focus{
                        outline: none;
                    }
                }      
            }
    
            .modal-body {
                padding: 35px;
                padding-top: 25px;

                p {
                    font-size: 16px;
                }
    
                img {
                    max-width: 100%;
                    max-height: 400px;
                }
            }
        }
      
    }
}